<!DOCTYPE html>

<html lang="en">

    <head>

        <title>URL Shortner</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="This is a url shortner tool">
        <meta name="author" content="Ali Haidar">

        <!-- connect Milligram CSS  -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
        
        <!-- my-css connection -->
        <link rel="stylesheet" href="/style.css">
        
    </head>

    <body>

        <div id="mainDiv">

            <header>

                <h1>Short The URL</h1>

            </header>

            <main>

                <form action="">

                    <div id="inputDiv">

                        <input type="text" name="mainLink" id="mainLink" placeholder="Enter your URL">
                        <button id="submitBtn">Short</button>

                    </div>

                </form>

                <div id="outputDiv">

                    <input type="text" name="shortLink" id="shortLink" readonly>
                    <button id="copyBtn">Copy</button>

                </div>

            </main>

            <footer>

                <p>This website is created by @ <cite>Ali Haidar</cite></p>

            </footer>


        </div>

        
        <!-- JS connection  -->
        <script src="/script.js"></script>
        
    </body>

</html>